$white: #ffffff;
$grey01: #f6f6f6;
$grey02: #dddddd;
$grey03: #777777;
$grey04: #3b3b3b;
$black: #000000;
$primary: #6b68f7;
$accent: #ff4853;

$background-default: $white;
$background-sub: $grey01;
$background-inverse: $black;
$background-primary: $primary;
$background-accent: $accent;

$text-default: $black;
$text-sub: $grey03;
$text-inverse: $white;
$text-disable: $grey02;

$icon-default: $black;
$icon-sub: $grey03;
$icon-inverse: $black;
$icon-disable: $grey02;

$border-default: $grey02;
$border-inverse: $grey04;
