$main-default-mobile: url("https://drive.google.com/uc?export=view&id=1TjrG8BEZcNUyTPCRjhpWNuy5XQPdhcTu");
$main-default-desktop: url("https://drive.google.com/uc?export=view&id=1TjrG8BEZcNUyTPCRjhpWNuy5XQPdhcTu");
$main-notice-mobile: url("https://drive.google.com/uc?export=view&id=10TPX2Qxgg95riX0XKAXuKwpbt5zlzDQF");
$main-notice-desktop: url("https://drive.google.com/uc?export=view&id=10TPX2Qxgg95riX0XKAXuKwpbt5zlzDQF");
$main-wip-mobile: url("https://drive.google.com/uc?export=view&id=10TPX2Qxgg95riX0XKAXuKwpbt5zlzDQF");
$main-wip-desktop: url("https://drive.google.com/uc?export=view&id=10TPX2Qxgg95riX0XKAXuKwpbt5zlzDQF");