$main-default-mobile: url("https://drive.google.com/uc?export=view&id=1TjrG8BEZcNUyTPCRjhpWNuy5XQPdhcTu");
$main-default-desktop: url("https://drive.google.com/uc?export=view&id=1TjrG8BEZcNUyTPCRjhpWNuy5XQPdhcTu");
$main-notice-mobile: url("https://drive.google.com/uc?export=view&id=1mf5IQrJw8VrwmNR1CGtX_F8wTKPvhphC");
$main-notice-desktop: url("https://drive.google.com/uc?export=view&id=1mf5IQrJw8VrwmNR1CGtX_F8wTKPvhphC");
$main-wip-mobile: url("https://drive.google.com/uc?export=view&id=1mf5IQrJw8VrwmNR1CGtX_F8wTKPvhphC");
$main-wip-desktop: url("https://drive.google.com/uc?export=view&id=1mf5IQrJw8VrwmNR1CGtX_F8wTKPvhphC");
