$recruitment-default-mobile: url("https://drive.google.com/uc?export=view&id=1VNDIfCw-okLxi6V5Ftrq03Blgg-p8VeD");
$recruitment-default-desktop: url("https://drive.google.com/uc?export=view&id=1VNDIfCw-okLxi6V5Ftrq03Blgg-p8VeD");
$recruitment-notice-mobile: url("https://drive.google.com/uc?export=view&id=1z5agi8EH_WtWB-AlkNiEoHEbzqHgmnAa");
$recruitment-notice-desktop: url("https://drive.google.com/uc?export=view&id=1z5agi8EH_WtWB-AlkNiEoHEbzqHgmnAa");
$recruitment-wip-mobile: url("https://drive.google.com/uc?export=view&id=1z5agi8EH_WtWB-AlkNiEoHEbzqHgmnAa");
$recruitment-wip-desktop: url("https://drive.google.com/uc?export=view&id=1z5agi8EH_WtWB-AlkNiEoHEbzqHgmnAa");
