$recruitment-default-mobile: url("https://drive.google.com/uc?export=view&id=1VNDIfCw-okLxi6V5Ftrq03Blgg-p8VeD");
$recruitment-default-desktop: url("https://drive.google.com/uc?export=view&id=1VNDIfCw-okLxi6V5Ftrq03Blgg-p8VeD");
$recruitment-notice-mobile: url("https://drive.google.com/uc?export=view&id=1zVQHq8nipC2bH0jcn4aj32MK1w6rrkww");
$recruitment-notice-desktop: url("https://drive.google.com/uc?export=view&id=1zVQHq8nipC2bH0jcn4aj32MK1w6rrkww");
$recruitment-wip-mobile: url("https://drive.google.com/uc?export=view&id=1zVQHq8nipC2bH0jcn4aj32MK1w6rrkww");
$recruitment-wip-desktop: url("https://drive.google.com/uc?export=view&id=1zVQHq8nipC2bH0jcn4aj32MK1w6rrkww");
