$background-default: #FFFFFF;
$background-sub: #F6F6F6;
$background-inverse: #000000;
$background-primary: #19B983;
$background-accent: #FF4853;
$background-hover: #F6F6F6;
$background-active: #DDDDDD;
$text-default: #000000;
$text-sub: #777777;
$text-inverse: #FFFFFF;
$text-disable: #DDDDDD;
$icon-default: #000000;
$icon-sub: #777777;
$icon-inverse: #FFFFFF;
$icon-disable: #DDDDDD;
$border-default: #DDDDDD;
$border-inverse: #3B3B3B;
